<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netstr</title>
    <link rel="stylesheet" href="~/Netstr.styles.css" asp-append-version="true" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
            font-family: sans-serif;
            font-weight: 100;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
